---
import { AboutDetail } from '@/components/views/AboutDetail'
import Layout from '@/layouts/Layout.astro'
// import Layout from '@'
---

<Layout>
  <div class='is-detail'>
    <AboutDetail />
  </div>
</Layout>

<style is:global>
  .is-detail .znc a {
    @apply text-blue-800 hover:underline;
  }
</style>
