.mt-be-columns {
  display: flex;
  column-gap: 40px;

  &:not(:first-child) {
    margin-top: 40px;
  }

  .mt-be-column {
    width: 50%;

    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        margin-top: 0;
      }
    }

    img {
      margin: 0;
    }
  }
}
