---
import { MyStack } from '@/components/ui/MyStack'
import { NewsList } from '@/components/views/NewsList'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <MyStack className='space-y-8'>
    <div>
      <img src='https://placehold.jp/eee/ccc/1600x600.jpg?text=MV' alt='' />
    </div>
    <div>
      <NewsList limit={3} client:load />
    </div>
  </MyStack>
</Layout>
