---
import { MyFooter } from '@/components/layouts/MyFooter'
import { MyHeader } from '@/components/layouts/MyHeader'
import { MyContainer } from '@/components/ui/MyContainer'
import 'zenn-content-css'
import '@/styles/global.css'

export interface Props {
  title?: string
}
const { title = 'Default Title' } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700;800&display=swap'
      rel='stylesheet'
    />
    <title set:html={title} />
  </head>
  <body>
    <MyHeader client:only='react' />
    <MyContainer className='pt-12 pb-16'>
      <main class='min-h-screen'>
        <slot />
      </main>
    </MyContainer>
    <MyFooter />
  </body>
</html>
<style is:global>
  html {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fff;
    color: #222;
  }
</style>
