---
import { MyFooter } from '@/components/layouts/MyFooter'
import { MyHeader } from '@/components/layouts/MyHeader'
import { MyContainer } from '@/components/ui/MyContainer'
import 'zenn-content-css'
import '@/styles/tailwind.css'
import '@/styles/global.scss'
import { MyPagetop } from '@/components/ui/MyPagetop'

export interface Props {
  title?: string
}
const { title = 'Default Title' } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700;800&display=swap'
      rel='stylesheet'
    />
    <title set:html={title} />
  </head>
  <body>
    <MyHeader client:load />
    <slot name='mv' />
    <MyContainer className='pt-12 pb-16'>
      <main class='min-h-80vh'>
        <slot />
      </main>
    </MyContainer>
    <MyPagetop client:load />
    <MyFooter />
  </body>
</html>
